In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
import pandas as pd
data = pd.read_csv('./data/interactive_data.csv', sep=',')
data = data.drop(columns = 'Unnamed: 0')

In [43]:
data

,Intent,Gender,Age,Race,Deaths,Population,Rate
0,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,None selected,None selected,None selected,White,22079,197369634,11.2
2,None selected,None selected,None selected,Black,7765,38896382,20.0
3,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
...,...,...,...,...,...,...,...
535,Unknown,Male,5,White,0,0,NaN
536,Unknown,Male,5,Black,0,0,NaN
537,Unknown,Male,5,Hispanic,0,0,NaN
538,Unknown,Male,5,Asian/Pacific Islander,0,0,NaN
539,Unknown,Male,5,Other,0,0,NaN

In [46]:
suicide = data[data['Intent'] == 'Suicide'].reset_index(drop=True)
suicide

,Intent,Gender,Age,Race,Deaths,Population,Rate
0,Suicide,None selected,None selected,None selected,21058,316299978,6.7
1,Suicide,None selected,None selected,White,18457,197369634,9.4
2,Suicide,None selected,None selected,Black,1111,38896382,2.9
3,Suicide,None selected,None selected,Hispanic,1057,54049078,2.0
4,Suicide,None selected,None selected,Asian/Pacific Islander,248,16315561,1.5
...,...,...,...,...,...,...,...
103,Suicide,Male,5,White,1,0,inf
104,Suicide,Male,5,Black,0,0,NaN
105,Suicide,Male,5,Hispanic,0,0,NaN
106,Suicide,Male,5,Asian/Pacific Islander,0,0,NaN
107,Suicide,Male,5,Other,0,0,NaN