# 00 - Optional homework

For this initial homework we will be working with a [dataset](https://github.com/fivethirtyeight/guns-data/blob/master/interactive_data.csv) available as a part of an interesting analysis of [gunshot deaths in the US](http://fivethirtyeight.com/features/gun-deaths/). The goal of this optional homework is to carefully go through the interactive visualization portrayed at the top of the aforementioned article, and use an IPython Notebook to reproduce the following claims made in the visualization:
- Nearly *two-thirds* of gun deaths are *suicides*.
- More than *85 percent* of suicide victims are *male*.
- Around *a third* of all gun deaths are *homicides*.
- Around *two-thirds* of homicide victims who are *males* in the *age-group of 15--34* are *black*.
- *Women* constitue only *15 percent* of the total *homicide* victims.

It's not necessary to generate visualizations for the results -- numbers should be more than enough to convince yourself

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('interactive_data.csv', sep=',')
data = data.drop(columns = 'Unnamed: 0')
data.head()

,Intent,Gender,Age,Race,Deaths,Population,Rate
0,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,None selected,None selected,None selected,White,22079,197369634,11.2
2,None selected,None selected,None selected,Black,7765,38896382,20.0
3,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [3]:
gun_deaths = data.loc[0].Deaths
gun_deaths

33599

In [4]:
data = data.set_index(['Intent','Gender','Age','Race'])
data.head()

                                                                  Deaths  \
Intent        Gender        Age           Race
None selected None selected None selected None selected            33599
                                          White                    22079
                                          Black                     7765
                                          Hispanic                  3007
                                          Asian/Pacific Islander     442

                                                                  Population  \
Intent        Gender        Age           Race
None selected None selected None selected None selected            316299978
                                          White                    197369634
                                          Black                     38896382
                                          Hispanic                  54049078
                                          Asian/Pacific Islander    16315561

                                                                  Rate
Intent        Gender        Age           Race
None selected None selected None selected None selected           10.6
                                          White                   11.2
                                          Black                   20.0
                                          Hispanic                 5.6
                                          Asian/Pacific Islander   2.7

Nearly two-thirds of gun deaths are suicides.

In [5]:
suicides = data.loc[('Suicide','None selected','None selected','None selected')].Deaths
print(int(np.round(100*suicides/gun_deaths,0)),'%')

63 %

More than 85 percent of suicide victims are male.

In [6]:
male_suicides = data.loc[('Suicide','Male','None selected','None selected')].Deaths
print(int(np.round(100*male_suicides/suicides,0)),'%')

86 %

Around a third of all gun deaths are homicides.

In [7]:
homicides = data.loc[('Homicide','None selected','None selected','None selected')].Deaths
print(int(np.round(100*homicides/gun_deaths,0)),'%')

35 %

Around two-thirds of homicide victims who are males in the age-group of 15--34 are black.

In [8]:
male_homicides_15_34 = data.loc[('Homicide','Male','15 - 34','None selected')].Deaths
black_male_homicides_15_34 = data.loc[('Homicide','Male','15 - 34','Black')].Deaths
print(int(np.round(100*black_male_homicides_15_34/male_homicides_15_34,0)),'%')

66 %

Women constitue only 15 percent of the total homicide victims.

In [9]:
women_homicides = data.loc[('Homicide','Female','None selected','None selected')].Deaths
print(int(np.round(100*women_homicides/homicides,0)),'%')

15 %